@{
    ViewData["Title"] = "Order Placed";
}

<h2>@ViewBag.Message</h2>

<p>Thank you for placing your order! We're cooking up something delicious just for you. Sit tight—your food will be on its way shortly!!</p>
<a href="/Home/Index" class="btn btn-success" style="background-color: #CD853F; border-radius: 8px;">Go to Home</a>
